@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    
    --card: 0 0% 3%;
    --card-foreground: 0 0% 100%;
    
    --popover: 0 0% 3%;
    --popover-foreground: 0 0% 100%;
    
    --primary: 263 70% 50%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 100%;
    
    --muted: 240 4% 16%;
    --muted-foreground: 0 0% 60%;
    
    --accent: 263 70% 50%;
    --accent-foreground: 0 0% 100%;
    
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 100%;
    
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 263 70% 50%;
    
    --radius: 0.5rem;

    /* Colores para Charts */
    --chart-1: 263 70% 50%;
    --chart-2: 240 4% 16%;
    --chart-3: 0 0% 100%;
    --chart-4: 263 70% 70%;
    --chart-5: 240 4% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}